
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Montserrat';
    font-size: 19px;
}

#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}

.mycontent {
    position: fixed;
    top: 0;
    background: rgba(0, 0, 0, 0.7);
    color: #e7e1e1;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.myparagraph {
    display: flex;
    text-align: center;
    width: 50%;
}

#myBtn {
    width: 100px;
    font-size: 18px;
    padding: 10px;
    border: none;
    background: #000;
    color: #fff;
    cursor: pointer;
    border-radius: 15px;
    transition: all 0.5s;
}

#myBtn:hover {
    background: #ddd;
    color: black;
    padding: 15px;
}
